<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <img
          src="../../../../../assets/image/HomePage/main-home-img-1.jpg"
          alt="responsive webite"
          class="img img-fluid"
        />
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="header-content">
          <h2 class="mt-md-0 mt-sm-3 fs-1">
            Modern spaces and
            <br />
            <span class="premium">premium</span>
            design
          </h2>
          <p class="desc">
            Lorem ipsum dolor sit amet, minimum inimicus quo no, at vix primis
            viderere vituperatoribus. In corpora argumentum.
          </p>
          <div class="sub-content">
            <p>
              – Mea omnium explicari
              <br />
              – His no legere feugaitoer
              <br />
              – illum idquem
            </p>
          </div>
          <div class="btn-search">
            <button class="btn mt-5">
              <a href="">Search Property </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
