<div class="main-wrapper  bg-light">
  <div class="container">
    <div class="row pb-5 border-bottom">
      <div class="col-lg-4 ">
    <p>
      <img src="./assets/image/HomePage/logo-mobile.svg" alt="logo">
      <b class="mt-2 ">New Home</b>
    </p>

        <p class="text-muted">A contemporary theme we designed specifically
          for real estate and property showcase websites,
          equipped with every option, element and feature your site may need.</p>
          <a href="#" class="text-dark font-weight-bold disabled">Read More</a>
      </div>
      <div class="col-lg-2  text-muted">
        <h5>Contact us</h5>
        <p>
          Zagazig, Sharqia
          <br>
          +1115302545
          <br>
          +1026732571
          <br>
         <small>emanmohamedgomaa12@gmail.com</small>
        </p>
      </div>
      <div class="col-lg-2 offset-lg-1 text-muted">

        <h5> Categories</h5>
        <p>
          Recent property
          <br>
          To Sell
          <br>
          To Buy
          <br>
          To Rent
        </p>
      </div>
      <div class="col-lg-2 offset-lg-1 text-muted">
        <h5>Links</h5>
        <p>
        <a href="#" class="text-muted font-weight-bold  text-decoration-none ">Latest News</a>
        <br>
        <a href="#" class="text-muted font-weight-bold text-decoration-none">About Us</a>
        <br>
        <a href="#" class="text-muted font-weight-bold text-decoration-none">FAQ Page</a>
        <br>
        <a href="#" class="text-muted font-weight-bold text-decoration-none">Contact Us</a>
      </p>
      </div>


    </div>
    <div class="row">
      <div class="col-lg-8 text-muted">
        <p>
          &copy; 2023 Gomaa Interactive, All Rights Reserved
        </p>
      </div>
      <div class="col-lg-4">

        <p>
          <b>Follow us: </b>
        <a href="#" class="text-muted font-weight-bold  text-decoration-none ms-2 ">Instagram</a>
        <a href="#" class="text-muted font-weight-bold  text-decoration-none mx-1">  Facebook</a>
        <a href="#" class="text-muted font-weight-bold  text-decoration-none ">  Youtube</a>
        <a href="#" class="text-muted font-weight-bold  text-decoration-none ms-1">  Twitter</a>
      </p>
      </div>

    </div>
  </div>
</div>
