
.main-wrapper {
  padding: 1rem 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.inner-main {
  width: 100%;
}
.main img {
  border-radius: 50%;
  border: 3px solid #f1f1f1;
}
.inner-content {
  max-width: 100%;
  padding-left: 1rem;
  font-family: "Poppins", sans-serif;
}
.inner-content h2 {
  font-size: 26px;
  font-weight: 500;
}
.inner-content .inner-title {
  font-size: 13px;
  font-weight: lighter;
  color: #000000;
}
.inner-desc p {
  font-family: "Poppins", sans-serif;
  color: #555555;
  font-size: 15px;
  vertical-align: baseline;
  font-weight: 400;
  text-align: start;
}
.heading-title {
  width: 100%;
  padding: 3rem 0;
}
.heading-title h2 {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  vertical-align: baseline;
  font-weight: 500;
  line-height: 48px;
}
.heading-title .inner-heading-title {
  font-weight: bold;
  font-size: 48px;
}
