<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="inner-heading">
        <div class="heading col-md-12">
          <h2>
            How It works?
            <br />
            Find a <span>perfect home</span>
          </h2>
        </div>
      </div>
      <div class="col-md-3 border-right">
        <div class="inner">
          <div class="inner-icon">
            <img
              src="../../../../../assets/image/HomePage/sign.png"
              style="width: 48px; height: 47px"
              alt=""
              class="mb-3"
            />
          </div>
          <div class="inner-content">
            <h2>Find real estate</h2>
            <p>
              Sumo petentium ut per, at his wisim utinam adipiscing. Est ei
              graeco quod suavitate vix.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="inner">
          <div class="inner-icon">
            <img
              src="../../../../../assets/image/HomePage/noun-home-1004361.png"
              alt=""
              style="width: 50px; height: 48px"
              class="mb-3"
            />
          </div>
          <div class="inner-content">
            <h2>Meet relator</h2>
            <p>
              Sumo petentium ut per, at his wisim utinam adipiscing. Est ei
              graeco quod suavitate vix.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="inner">
          <div class="inner-icon">
            <img
              src="../../../../../assets/image/HomePage/noun-document-1212583.png"
              alt=""
              style="width: 50px; height: 48px"
              class="mb-3"
            />
          </div>
          <div class="inner-content">
            <h2>Documents</h2>
            <p>
              Sumo petentium ut per, at his wisim utinam adipiscing. Est ei
              graeco quod suavitate vix.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="inner">
          <div class="inner-icon">
            <img
              src="../../../../../assets/image/HomePage/noun-key-1176900.png"
              alt=""
              style="width: 50px; height: 48px"
              class="mb-3"
            />
          </div>
          <div class="inner-content">
            <h2>Take the keys</h2>
            <p>
              Sumo petentium ut per, at his wisim utinam adipiscing. Est ei
              graeco quod suavitate vix.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
