.row {
  padding: 0;
  margin: 0;
}
.container {
  width: 100vw;
}
.main-wrapper {
  padding: 5rem 0;

  width: 100%;
  height: 100%;
}

.header-content h2 {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 6vw;
  line-height: 50px;
  font-weight: 600;
  display: flex;
  justify-content: end;
  align-items: end;
}
.header-content .desc {
  padding-top: 10px;
  color: #555555;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}
.btn-search {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-bottom: 1rem;
}
.btn-search .btn a {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: auto;
  margin: 0;
  text-decoration: none;
  border-radius: 0;
  outline: 0;
  background-color: rgb(255, 204, 65);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.73333em;
  color: #000;
  padding: 14px 28px;
  box-shadow: inset 0 0 0 0 #ffbe30;
  transition: ease-out 0.8s;
}

.btn-search .btn a:hover {
  box-shadow: inset 500px 0 0 0 rgb(255, 204, 65);
}
