<div class="main-wrapper">
  <div class="container">
    <div class="heading-title">
      <h2>
        See what others
        <br />
        said <span class="inner-heading-title">about us</span>
      </h2>
    </div>
    <div class="row">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide id>
          <div class="main">
            <div class="inner-main">
              <img
                src="../../../../../assets/image/HomePage/about-us-testimonials1-83x83.png"
                style="width: 80px; height: 80px"
                class="img-fluid"
              />
            </div>
            <div class="inner-content">
              <div class="inner-head">
                <h6>Steve Curtis <span class="inner-title">AGENT</span></h6>
              </div>
              <div class="inner-desc">
                <p>
                  "Ut vix primis tractatos. Ad est alterum epicuri accusamus.
                  Duo per id his qualisque deseruisse reformidans ex, quo
                  omnesque cotidieque. Dolor voluptua per, his in congue."
                </p>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide id>
          <div class="main">
            <div class="inner-main">
              <img
                src="../../../../../assets/image/HomePage/about-us-testimonials1-83x83.png"
                style="width: 80px; height: 80px"
              />
            </div>
            <div class="inner-content">
              <div class="inner-head">
                <h6>Steve Curtis <span class="inner-title">AGENT</span></h6>
              </div>
              <div class="inner-desc">
                <p>
                  "Ut vix primis tractatos. Ad est alterum epicuri accusamus.
                  Duo per id his qualisque deseruisse reformidans ex, quo
                  omnesque cotidieque. Dolor voluptua per, his in congue."
                </p>
              </div>
            </div>
          </div>
        </ng-template>
        <!--Right  -->
        <ng-template carouselSlide id>
          <div class="main">
            <div class="inner-main">
              <img
                src="../../../../../assets/image/HomePage/about-us-testimonials1-83x83.png"
                style="width: 80px; height: 80px"
              />
            </div>
            <div class="inner-content">
              <div class="inner-head">
                <h6>Steve Curtis <span class="inner-title">AGENT</span></h6>
              </div>
              <div class="inner-desc">
                <p>
                  "Ut vix primis tractatos. Ad est alterum epicuri accusamus.
                  Duo per id his qualisque deseruisse reformidans ex, quo
                  omnesque cotidieque. Dolor voluptua per, his in congue."
                </p>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide id>
          <div class="main">
            <div class="inner-main">
              <img
                src="../../../../../assets/image/HomePage/about-us-testimonials1-83x83.png"
                style="width: 80px; height: 80px"
              />
            </div>
            <div class="inner-content">
              <div class="inner-head">
                <h6>Steve Curtis <span class="inner-title">AGENT</span></h6>
              </div>
              <div class="inner-desc">
                <p>
                  "Ut vix primis tractatos. Ad est alterum epicuri accusamus.
                  Duo per id his qualisque deseruisse reformidans ex, quo
                  omnesque cotidieque. Dolor voluptua per, his in congue."
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
